name: Deploy AlwaysData (FTP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via FTP (AlwaysData)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftp.alwaysdata.com
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21

          local-dir: ./
          server-dir: /www/

          exclude: |
            **/.git/**
            **/.github/**
            **/.env
            **/node_modules/**
