name: Deploy AlwaysData (SCP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SCP (AlwaysData)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ssh.alwaysdata.com
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: "."
          target: "/home/${{ secrets.FTP_USERNAME }}/www/"
          rm: false
          strip_components: 0
